/*********************
COLORS
*********************/

//greys
$dark-grey:         #333333;
$grey:              #555555;
$mid-grey:          #B3B3B3;
$light-grey:        #f2f2f2;
$black:             #111;
$white:             #fff;


//brand colors
$blue:               #0e505b;
$red:                #9b1038;
$yellow:             #e8dd69;
$brown:              #392b13;
$tan:                #e9e6e0;
$orange:             #bc4520;
$kickstarter_green:  #2BDE73;

//alerts (for the input fields)
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;


$twitter_blue:      #26a7df;
$facebook_blue:     #4d67a4;

//setting the color variables to content specific variables

$body-text-color:   $black;

$title-text-color:  $dark-grey;

$link-color:        $dark-grey;
$link-hover:        $grey;





//image uri
$r : "../images/"; //#{$r}/logo-sprite.png