// launchboom
.top-logo-wrap{
	padding: 0.75em;
}
.top-logo-wrap--dark{
	background-color: $black;
}
.top-logo{
	width: 250px;
	@media #{$m2} {
		width: 125px;
		margin: auto;
		
	}
}
.top-section-wrap{
	margin: auto;
	position: relative;
	z-index: 2;
	height: auto;
	@media #{$m} {
		min-height: 100vh;
	}
	@media #{$m2} {
		background-image: none !important;
	}
}
.top-section{
	padding: 1em;
	@media #{$m} {
		float: left;
		width: 45%;
		margin-top: 10%;
	}
}

.top-section-tall{
	z-index: 3;
	position: relative;
	padding: 1em;
	background-color: #fff;
	@media #{$m} {
		text-shadow: 0 0 1.5em #fff;
		min-height: 100vh;
		float: left;
		width: 55%;
		background-color: rgba(#fff, 0.85);
		padding-top: 5%;
		margin: 0;
	}
	@media #{$l} {
		width: 45%;
	}
}
.top-section-tall--right{
	@media #{$m} {
		float: right;
	}
}
.top-section-wrap--dark{
	.top-section-tall{
		background-color: $black;
		@media #{$m} {
			text-shadow: 0 0 1.5em $black;
			background-color: rgba(#030406, 0.85);
		}
		*{
			color: #fff;
		}
	}
	hr{
		color: #fff;
	}
}
.top-content-inner{
	max-width: 550px;
	margin: auto;
	
}
.top-cta{
	max-width: 600px;
	margin: auto;
	text-align: left;
	padding: 1em;
	
	@media #{$m} {
		padding: 2em;
	}
}
.top-content,
.top-cta-text{
	p, li {
		font-size: 1.2em;
	}
}
.email-wrap{
	input[type="email"],
	input[type="submit"], 
	button{
		float: left;
		width: 65%;
		border-radius: 0;
	}
	button,
	input[type="submit"]{
		width: 35%;
		padding: 0.71em 0.5em;
	}
	input[type="email"]{
		border-right: 0;
	}
	@media #{$xs2}{
		font-size: 0.8em;
	}
}
// gravity form styles
.page-template-template-lauchboom-landing-page{
	.gform_wrapper{
		form * {
			display: inline;
		}
		.gform_fields{
			list-style-type: none;
		}
		.gfield_label {
			display: none !important;
		}

		input[type="text"], input[type="email"]{
			float: left;
			width: 65%;
			border: 2px solid $kickstarter-green;
			border-radius: 0;
			color: $dark-grey;
			@media #{$xs2} {
				padding: 0.95em 1em;
			}
			.top-content-inner--hero & {
				border: 2px solid #fff;
			}
		}

		input[type="submit"] {
			width: 35%;
			padding: 0.71em 0.5em;
		}

	}
	.gfield_description.validation_message, 
	.validation_error {
		display: none !important;
	}
}


.side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 50%;
		position: absolute;
		right: 0;
		height: 100%;
	}
}

// Thank you page
.thank-you-wrap{
	position: relative;
	@media #{$m} {
		min-height: 100vh;
	}
}
.thank-you-content{
	@media #{$m} {
		min-height: 100vh;
		float: left;
		width: 45%;
		padding-top: 10%;
		margin: 0;
	}
	.top-content-inner{
		float: none;
		width: 100%;
		padding: 1em;
		color: #fff;
		@media #{$m} {
			margin-top: 20%;
		}
		p{
			font-size: 1.2em;
		}
	}
	.button{
		padding: 0.5em 1.2em;
	}
}
.thank-you-headline{
	padding-top: 1px;
	@media #{$m2} {
		padding: 0.5em;
	}
	h2{
		@media #{$m2} {
			margin: 0;
		}
	}
}
.thank-you-top{
	background-color: #f2f7fb;
	@media #{$m2} {
		padding-top: 1px;
	}
	@media #{$m}{
		padding: 1.5em 0;
	}
}
.thank-you-side-image{
	@media #{$m} {
		height: 100vh;
		float: right;
		width: 55%;
	}
	@media #{$b} {
		width: 60%;
	}
}

.thank-you-buttons{
	@media #{$m2} {
		text-align: center;
		div{
			display: inline;
		}
	}
	@media #{$s2} {
		font-size: 0.9em;
	}
}
.top-content-inner--comments{
	p{
		@media #{$s} {
			font-size: 1.2em;
		}
	}
}
.top-content-image--comments{
	padding-right: 1em;
}
.thank-you-steps {
	max-width: 992px;
	margin: auto;
}
.thank-you-step{
	padding: 1em;
	padding-top: 0;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
	> * {
		max-width: 960px;
		margin: auto;
	}
	&:last-child{
		border-bottom: 0;
	}
}


.top-content-inner-thank-you{
	max-width: 500px;
}
.full-page-height{
	min-height: calc(100vh - 56px);
	height: auto;
}











