// share form
.form-content-wrap{
	position: relative;
	padding: 1em 1px;
}
.form-content-wrap{
	@media #{$m}{
		max-width: 550px;
		margin: auto;
	}
	
	img{
		@media #{$m}{
			max-width: 300px;
			margin: auto;
		}
		
	}
}

.gfield_description .validation_message {
	p{
		display: none;
	}
}
	
.form-content-inner{
	position: relative;
	z-index: 1;
}
#gform_fields_1 li{
	padding: 1em !important;
}
.gform_wrapper .top_label .gfield_label{
	font-weight: normal !important;
	
}
.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url]{
	background-color: #FFF;
	resize: none;
	max-width: 500px;
	width: 100%;
	border: 2px solid #C3992D;
	padding: 0.75em !important;
	// margin-top: 1em;
	font-size: 1.5em;
	margin: 0;
	border-radius: 0;
	box-shadow: 0 0 0 #000 !important;
	@media #{$m2}{
		max-width: 350px;
	}
}
.gform_wrapper .top_label .gfield_label, .gform_wrapper .field_sublabel_above .gfield_date_day label, .gform_wrapper .field_sublabel_above .gfield_date_month label, .gform_wrapper .field_sublabel_above .gfield_date_year label, .gform_wrapper .field_sublabel_above .gfield_time_ampm label, .gform_wrapper .field_sublabel_above .gfield_time_hour label, .gform_wrapper .field_sublabel_above .gfield_time_minute label, .gform_wrapper .field_sublabel_above .ginput_complex label, .gform_wrapper .field_sublabel_above .instruction{
	margin: 0 !important;
}
#gform_submit_button_1{
	max-width: 250px;
	// margin-left: 1rem;
	padding: 1rem;
	font-size: 1.5em;
}
#input_1_2, #input_1_3 {
	width: 98% !important;
	max-width: 495px;
}
input[type="submit"] {
	border: none;
}
.side-image{
	@media #{$m}{
		position: relative;
	}	
}


// share success
.count, .share {
	display: inline-block;
	color: #fff;
	padding: 0 0.5em;
}
.count{
	float: right;
	
}
.share{
	float: left;
	font-weight: bold;
	
}
.sharrre-buttons{
	text-align: center;
	
}

.facebook, .twitter {
	display: inline-block;
	margin: 0.5em;
	font-size: 1.2em;
	background-color: #fff;
	color: black;
	padding: 0.5em 1.5em 0.5em 2.7em;
	position: relative;
	z-index: 1;

	&:hover {
		cursor: pointer;
	}
}
.facebook{
	color: #3b5998;
	background-color: #fff;
	font-weight: bold;
	background-repeat: no-repeat;
	background-image: url('#{$r}facebook-thank-you-logo.png');
	background-position: 17% 50%;
}
.twitter{
	background-color: #fff;
	color: #00abf0;
	font-weight: bold;
	background-image: url('#{$r}twitter-thank-you-icon.png');
	background-repeat: no-repeat;
	background-position: 15% 50%;
}
.nav {
	float: right;
}
.nav li {
	float: left;
	padding: 0.5em;
}