
/*********************
NORMAL PAGE
*********************/
.normal-page{
  ul, ol{
    padding-left: 1em;
    list-style-type: circle;
  }
  ol{
    list-style-type: decimal;
  }
  ul{
    ul{
      list-style-type: square;
      ul{
        list-style-type: circle;
      }
    }
  }
  li{
    margin-bottom: 0.25em;
  }
  td, th{
    border: 1px solid $grey;
    padding: 0.5em;
  }
  blockquote{
    font-style: italic;
    font-size: 1.2em;
  }
  a{
    color: $blue;
    text-decoration: underline;
    &:hover{
      color: darken($blue, 15%);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5{
    margin-bottom: 0.5em;
  }
}
.acf-map img {    
max-width:inherit !important; 
}
