///////// ouibounce popup style ////////////
///////// ouibounce popup style ////////////
///////// ouibounce popup style ////////////

.ouibounce-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  .underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-animation: fadein 0.25s;
    animation: fadein 0.25s;
  }
  .modal {
    background-color: $kickstarter-green;
    z-index: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    -webkit-animation: popin 0.3s;
    animation: popin 0.3s;
    text-align: center;
    color: #fff;
    img{
      display: none;
    }
    .gform_wrapper {
      input{
        border-color: #fff;
      }
      input[type="text"]{
        background-color: #fff;
        border: 2px solid #fff;
      }
      input[type="submit"]{
        padding: 0.73em 0.5em;
      }
    }
  }
  .modal-dismiss {
    cursor: pointer;
  }
}
.modal-inner{
  @media #{$xs} {
    position: absolute;
    max-width: 600px;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 1.5em;
  }
  @media #{$xs2}{
    margin-top: 10%;
  }
}
.modal-text-wrap{
  background-color: #fff;
    border-radius: 4px;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popin {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  85% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes popin {
  0% {
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popin {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  85% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
